<h1>Form view</h1>
<a href="/">Back to homepage</a>
<form method="POST" action="/new">
    <label for="messageUser">name:</label>
    <input type="text" name="messageUser" id="messageUser">
    <label for="messageText">message:</label>
    <input type="text" name="messageText" id="messageText">
    <button type="submit">Send data</button>
</form>